html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.left-text h1, h3 {
    padding: 0px;
    margin: 0;
}

.header-div a {
    padding-left: 25px;
}

.body-div {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 25px;
}

.options-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.clear_div button {
    margin-right: 10px;
}

.clear_div {
    margin: 0;
}

.shape_buttons_div button {
    margin-right: 10px;
}

.rgb_sliders_div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 25px;
}

.rgb-and-preview-div {
    display: flex;
    flex-direction: row;
}

.size_slider_div {
    display: flex;
    flex-direction: column;
}

.size_slider_div label {
    padding-right: 10px;
}

.extras_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    padding-right: 12%;
    width: 75%;
}

.extras_div img {
    width: 25%;
}

.sketch_div {
    display: flex;
    flex-direction: column;
}